body {
	word-wrap: break-word;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

td {
	word-wrap: break-word;
	padding-right: 5px;
	padding-left: 5px;
}

.code{
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    white-space: pre-wrap;
		line-height: 20px; 
		font-size: 12px;
		border-right: 1px solid #eee;
		vertical-align: top;
}

.expandable-line {
	background-color: rgba(3, 102, 214, 0.3);
	border-left: 1px solid #eee;
	text-align: right;
}

.expandable-blob {
	background-color: #f1f8ff;
}

.alignment {
	background-color: #fafafa;
}

.line {
	color: rgba(0,0,0,0.3);
	border-left: 1px solid #eee;
	text-align: right;
}

.insertLine{
	background-color: #dbffdb;
}

.insert{
	background-color: #eaffea;
}

.deleteLine{
	background-color: #ffdddd;
}

.delete{
	background-color: #ffecec;
}

.goto {
	background-color: rgba(182, 255, 0, 0.9);
}

.def {
	background-color: rgba(33, 195, 255, 0.9);
}

.use {
	background-color: rgba(163, 230, 255, 0.9);
}

/*.DEF-tag {
	border: 1px solid grey;
}

.USE-tag {
	border: 1px dotted grey;
}

.VAL-DEF {
	background-color: rgba(255, 40, 40, 0.1);
}

.VAL-USE {
	background-color: rgba(255, 40, 40, 0.1);
}

.ENV-DEF {
	background-color: rgba(255, 242, 66, 0.1);
}

.ENV-USE {
	background-color: rgba(255, 242, 66, 0.1);
}

.CALL-DEF {
	background-color: rgba(125, 66, 244, 0.1);
}

.CALL-USE {
	background-color: rgba(125, 66, 244, 0.1);
}

.CON-DEF {
	background-color: rgba(40, 255, 255, 0.1);
}

.CON-USE {
	background-color: rgba(40, 255, 255, 0.1);
}*/

